/* ====================
* ANIMACIONES 
======================= */

.brightPulse {
  animation: brightPulse 3s infinite ease-in-out;
}

.float-y {
  animation: float-y 2s infinite alternate ease-in-out;
}

.hero-cnt-1.float-y {
  animation: float-y 2s infinite alternate ease-in-out;
}

.hero-cnt-2.float-y {
  animation: float-y 3s infinite alternate ease-in-out;
}

.hero-cnt-3.float-y {
  animation: float-y 2s infinite alternate ease-in-out;
}

.hero-cnt-4.float-y {
  animation: float-y 1.5s infinite alternate ease-in-out;
}

.hero-cnt-5.float-y {
  animation: float-y 1.7s infinite alternate ease-in-out;
}

/* ====================
? KEYFRAMES 
======================= */

@keyframes float-y {
  0%,
  100% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }
}

@keyframes cloud-bg-move {
  from {
    background-position: center 0, center 0, 0 90%;
  }

  to {
    background-position: center 0, center 0, 120vh 90%;
  }
}

@keyframes brightPulse {
  0%,
  100% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.7);
  }
}
