@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "css/animations.css";

/* 1. VARIABLES DE DISEÑO */
:root {
  --primary-color: #2aff63;
  --secondary-color: #7b8fac;
  --secondary-dark-color: #3b455e;
  --light-color: #d8efec;
  --dark-color: #0d1938;
  --yellow-note: #e5df8d;

  --dark-color50: rgba(13, 25, 56, 0.5);
  --primary-color50: rgba(42, 255, 99, 0.5);
  --secondary-color50: rgba(123, 143, 172, 0.5);

  /* Font Families */
  --font-family-header: "Playfair Display", serif;
  --font-family-base: "Instrument Sans", sans-serif;
  --font-family-buttons: "Archivo", sans-serif;

  /*Grimorios*/
  --book-blue: #478ff7;
  --book-green: #49e3a7;
  --book-red: #e35b5b;
}

/* 2. ESTILOS GENERALES */
body {
  background-color: var(--dark-color);
  scroll-behavior: smooth;
  font-family: var(--font-family-base);
  color: var(--light-color);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  font-weight: 600;
  color: var(--primary-color);
}

a.accent-txt:hover {
}

a > svg {
  color: var(--primary-color);
  width: 44px;
  height: 44px;
  transition: all 0.2s ease-in-out;
}

a > svg:hover {
  color: var(--light-color);
  width: 44px;
  height: 44px;
}

/* 3. NAVBAR */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 15px 0;
  clip-path: polygon(
    calc(3% + 22px) 25%,
    calc(97% - 22px) 25%,
    97% 50%,
    calc(97% - 22px) 75%,
    calc(3% + 22px) 75%,
    3% 50%
  );
}

.nav-item {
  text-transform: uppercase;
}

.nav-item > .btn {
  margin: 0 0rem 0 10px;
}

.navbar.scrolled {
  --layout-padding: calc(var(--bs-gutter-x) * 0.5);
  background-color: var(--secondary-dark-color);
  box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.05);
  clip-path: polygon(
    calc(3% + 22px) 25%,
    calc(97% - 22px) 25%,
    97% 50%,
    calc(97% - 22px) 75%,
    calc(3% + 22px) 75%,
    3% 50%
  );
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--light-color);
  font-family: Var(--font-family-buttons);
  font-variation-settings: "wdth" 125;
}

.navbar-brand:hover {
  color: var(--light-color);
}

.nav-link {
  color: var(--light-color);
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--yellow-note);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--yellow-note);
}

/* 4. HERO */
.row.p-5 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-header);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--yellow-note);
}

p {
  font-size: 1rem;
  color: var(--light-color);
}

/* Botones */
.btn {
  font-family: var(--font-family-buttons);
  font-weight: 700;
  font-variation-settings: "wdth" 112.5;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(
    calc(0% + 22px) 0,
    calc(100% - 22px) 0,
    100% 50%,
    calc(100% - 22px) 100%,
    calc(0% + 22px) 100%,
    0% 50%
  );
}

.btn-dark {
  background-color: var(--primary-color);
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-dark:hover {
  background-color: var(--yellow-note);
  color: var(--dark-color);
}

.btn-outline-dark {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;
  clip-path: polygon(
    calc(0% + 22px) 0,
    calc(100% - 22px) 0,
    100% 50%,
    calc(100% - 22px) 100%,
    calc(0% + 22px) 100%,
    0% 50%
  );
}

.btn-outline-dark::before,
.btn-outline-dark::after {
  content: "";
  position: absolute;
  width: 23px;
  height: calc(100% + 2px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2250%22%20viewBox%3D%220%200%2025%2050%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3.81596e-07%201L1.91422%201C1.91422%201%2014.767%2015.6291%2023%2025C14.767%2034.3709%2010.1473%2039.6291%201.91422%2049L0%2049%22%20stroke%3D%22%232AFF63%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
}

.btn-outline-dark::before {
  transform: translateY(-50%) scaleX(-1); /* Flip horizontal */
  left: 0px;
}
.btn-outline-dark::after {
  right: 0px;
}

.btn-outline-dark:hover {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.plan-time-buttons > .btn-plantime {
  align-self: stretch;
}

.btn-plantime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;

  /*Appareance*/
  text-decoration: none !important;
  background-color: transparent;
  border: 2px var(--yellow-note) solid;
  color: var(--yellow-note);
  padding: 5px 30px;
  transition: all 0.3s ease-in-out;

  /*Font*/
  font-weight: 700;
  font-family: var(--font-family-base);
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.btn-plantime-discount {
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btn-plantime:hover {
  background-color: var(--yellow-note);
  color: var(--dark-color);
}

/* 5. SECCIONES */
section {
  padding: 100px 0;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

/*section h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  margin: -20px auto 0;
}*/

/* 6. CARDS */
.card {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-color);
}

.masonry__container {
  column-count: 4;
  column-gap: 1rem;
}

.masonry__item {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.card-text {
  color: #6c757d;
}

/* 7. TESTIMONIOS */
.blockquote {
  background-color: var(--light-color);
  border-left: 4px solid var(--secondary-color-color);
  padding: 20px;
  border-radius: 5px;
}

/* 8. FORMULARIO */
form .form-control {
  color: var(--light-color);
  background-color: var(--dark-color50);
  border-radius: 8px;
  border: none;
}

form .form-control:focus {
  color: var(--primary-color);
  background-color: var(--dark-color50);
  border-color: var(--primary-color);
  box-shadow: 0px 0px 5px 3px var(--primary-color50);
}

form .form-control::placeholder {
  color: var(--secondary-color);
  opacity: 0.8;
}

form .form-label {
  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-weight: 600;
}

form button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  border-radius: 50px;
  margin-top: 20px;
}

/* 9. FOOTER */
footer {
  background-color: var(--secondary-dark-color);
  color: var(--secondary-color);
  font-size: 0.9rem;
}

footer h5 {
  color: var(--light-color);
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 1.1rem;
}

/* 10. IMÁGENES */
img.rounded-circle {
  border: 5px solid var(--light-color);
}

.bg-hero {
  /* BG */
  background-image: url("assets/bg/bg_hero.png");
  background-repeat: no-repeat;
  background-position: 0% -1%;
  background-size: 2200px auto;
}

.bg-bookred {
  background-image: linear-gradient(
      0deg,
      rgba(13, 25, 56, 1) 00%,
      rgba(13, 25, 56, 0) 60%
    ),
    linear-gradient(90deg, rgba(13, 25, 56, 0.5) 20%, rgba(13, 25, 56, 0) 50%),
    url("./assets/bg/pat-nu-red_dk.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 100%, 100%, 120vh auto;
  animation: cloud-bg-move 20s linear infinite;
}

.bg-biblio {
  background-image: linear-gradient(
      0deg,
      rgba(13, 25, 56, 0.3) 0%,
      rgba(13, 25, 56, 1) 100%
    ),
    url("./assets/bg/bg_biblio.png");
  background-repeat: no-repeat;
  background-position: 5% bottom;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay-light {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.bg-overlay-dark {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: #fff;
}

.img-rounded {
  border-radius: 8px;
  overflow: hidden;
}

.plan-1 {
  background: linear-gradient(
      141deg,
      rgba(73, 227, 167, 0) 22.27%,
      rgba(73, 227, 167, 0.24) 77.73%
    ),
    var(--dark-color);
}

.plan-2 {
  background: linear-gradient(
      141deg,
      rgba(227, 91, 91, 0) 22.27%,
      rgba(227, 91, 91, 0.15) 77.73%
    ),
    var(--dark-color);
}

.plan-3 {
  background: linear-gradient(
      141deg,
      rgba(71, 143, 247, 0) 22.27%,
      rgba(71, 143, 247, 0.3) 77.73%
    ),
    var(--dark-color);
}

/* 11. GALERÍA */
.container .row img {
}

/*.container .row img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}*/

/* 12. INPUT */

/** ============================== */
/* ! HERO BOX CONTENT */
/** ============================== */

.herobox-crop {
  height: 650px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.img-fluid-hero {
}

.box-cnt-float {
  height: 650px;
  position: absolute;
}

.box-hero-content {
  position: absolute;
  background-color: #fff;
  overflow: visible;
  margin: auto;
  display: flex;
}

.hero-cnt-1 {
}

.hero-cnt-2 {
}

.hero-cnt-3 {
}

.hero-cnt-4 {
}

.hero-cnt-5 {
}

/** ============================== */
/* ! DECOS */
/** ============================== */

.deco-botarrow {
  background-image: url(./assets/svg/deco-botarrow.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: auto;
  align-self: center;
  aspect-ratio: 100/70;
}

/* Bordes de planes */

.plan-border,
.plan-border-highlight {
  border-radius: 0px;
  position: relative;
}

.plan-border-highlight::after,
.plan-border-highlight::before,
.plan-border::after,
.plan-border::before {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  align-items: end;
  font-size: 0;
}

.plan-border::before {
  content: url(./assets/svg/deco-box-top.svg);
}

.plan-border::after {
  content: url(./assets/svg/deco-box-bot.svg);
}

.plan-border-highlight::before {
  content: url(./assets/svg/deco-box-top_highlight.svg);
}

.plan-border-highlight::after {
  content: url(./assets/svg/deco-box-bot_highlight.svg);
}

/* Borde interior de planes */

.plan-inner-border,
.plan-inner-border-highlight {
  border-style: none solid none solid;
  border-width: 0 2px 0 2px;
  border-radius: 0px;
}

.plan-inner-border {
  border-color: var(--secondary-color);
}

.plan-inner-border-highlight {
  border-color: var(--yellow-note);
}

/* Deco Envio */

.deco-banner-side {
  height: 148px;
  display: block;
}

.deco-inner-inside {
  height: 128px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-dark-color);
  border-top: 1px solid var(--yellow-note);
  border-bottom: 1px solid var(--yellow-note);
}

.deco-inner-outside {
  height: 148px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--yellow-note);
  border-bottom: 2px solid var(--yellow-note);
}

.deco-inner-inside .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
}

.deco-inner-outside::after {
  content: "";
  display: block;
  position: absolute;
  clip-path: polygon(
    0px 0px,
    0px calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 0px,
    0px 0px,
    calc(100% - 0px) calc(100% - 2px),
    0px calc(100% - 2px),
    0px 2px,
    calc(100% - 0px) 2px,
    calc(100% - 0px) calc(100% - 2px)
  );
  background-color: bisque;
}

/* FAQ y Contacto */

.deco-container1 {
  background-color: var(--secondary-dark-color);
  position: relative;
  clip-path: polygon(
    calc(100% - 0px) 60px,
    calc(100% - 0px) calc(100% - 60px),
    calc(100% - 0px) calc(100% - 60px),
    calc(100% - 0.1309599999999px) calc(100% - 58.37864px),
    calc(100% - 0.51007999999996px) calc(100% - 56.84032px),
    calc(100% - 1.1167199999999px) calc(100% - 55.40568px),
    calc(100% - 1.9302399999999px) calc(100% - 54.09536px),
    calc(100% - 2.93px) calc(100% - 52.93px),
    calc(100% - 4.09536px) calc(100% - 51.93024px),
    calc(100% - 5.40568px) calc(100% - 51.11672px),
    calc(100% - 6.84032px) calc(100% - 50.51008px),
    calc(100% - 8.37864px) calc(100% - 50.13096px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 16.48787px) calc(100% - 49.47643px),
    calc(100% - 22.64256px) calc(100% - 47.96064px),
    calc(100% - 28.38169px) calc(100% - 45.53501px),
    calc(100% - 33.62288px) calc(100% - 42.28192px),
    calc(100% - 38.28375px) calc(100% - 38.28375px),
    calc(100% - 42.28192px) calc(100% - 33.62288px),
    calc(100% - 45.53501px) calc(100% - 28.38169px),
    calc(100% - 47.96064px) calc(100% - 22.64256px),
    calc(100% - 49.47643px) calc(100% - 16.48787px),
    calc(100% - 50px) calc(100% - 10px),
    calc(100% - 50px) calc(100% - 10px),
    calc(100% - 50px) calc(100% - 10px),
    calc(100% - 50.13096px) calc(100% - 8.37864px),
    calc(100% - 50.51008px) calc(100% - 6.84032px),
    calc(100% - 51.11672px) calc(100% - 5.40568px),
    calc(100% - 51.93024px) calc(100% - 4.0953599999999px),
    calc(100% - 52.93px) calc(100% - 2.93px),
    calc(100% - 54.09536px) calc(100% - 1.9302399999999px),
    calc(100% - 55.40568px) calc(100% - 1.11672px),
    calc(100% - 56.84032px) calc(100% - 0.51008000000002px),
    calc(100% - 58.37864px) calc(100% - 0.13095999999996px),
    calc(100% - 60px) calc(100% - 5.6843418860808e-14px),
    60px calc(100% - 0px),
    60px calc(100% - 0px),
    58.37864px calc(100% - 0.1309599999999px),
    56.84032px calc(100% - 0.51007999999996px),
    55.40568px calc(100% - 1.1167199999999px),
    54.09536px calc(100% - 1.9302399999999px),
    52.93px calc(100% - 2.93px),
    51.93024px calc(100% - 4.09536px),
    51.11672px calc(100% - 5.40568px),
    50.51008px calc(100% - 6.84032px),
    50.13096px calc(100% - 8.37864px),
    50px calc(100% - 10px),
    50px calc(100% - 10px),
    50px calc(100% - 10px),
    49.47643px calc(100% - 16.48787px),
    47.96064px calc(100% - 22.64256px),
    45.53501px calc(100% - 28.38169px),
    42.28192px calc(100% - 33.62288px),
    38.28375px calc(100% - 38.28375px),
    33.62288px calc(100% - 42.28192px),
    28.38169px calc(100% - 45.53501px),
    22.64256px calc(100% - 47.96064px),
    16.48787px calc(100% - 49.47643px),
    10px calc(100% - 50px),
    10px calc(100% - 50px),
    10px calc(100% - 50px),
    8.37864px calc(100% - 50.13096px),
    6.84032px calc(100% - 50.51008px),
    5.40568px calc(100% - 51.11672px),
    4.09536px calc(100% - 51.93024px),
    2.93px calc(100% - 52.93px),
    1.93024px calc(100% - 54.09536px),
    1.11672px calc(100% - 55.40568px),
    0.51008px calc(100% - 56.84032px),
    0.13096px calc(100% - 58.37864px),
    1.6566079009641e-31px calc(100% - 60px),
    0px 60px,
    0px 60px,
    0.13096px 58.37864px,
    0.51008px 56.84032px,
    1.11672px 55.40568px,
    1.93024px 54.09536px,
    2.93px 52.93px,
    4.09536px 51.93024px,
    5.40568px 51.11672px,
    6.84032px 50.51008px,
    8.37864px 50.13096px,
    10px 50px,
    10px 50px,
    10px 50px,
    16.48787px 49.47643px,
    22.64256px 47.96064px,
    28.38169px 45.53501px,
    33.62288px 42.28192px,
    38.28375px 38.28375px,
    42.28192px 33.62288px,
    45.53501px 28.38169px,
    47.96064px 22.64256px,
    49.47643px 16.48787px,
    50px 10px,
    50px 10px,
    50px 10px,
    50.13096px 8.37864px,
    50.51008px 6.84032px,
    51.11672px 5.40568px,
    51.93024px 4.09536px,
    52.93px 2.93px,
    54.09536px 1.93024px,
    55.40568px 1.11672px,
    56.84032px 0.51008px,
    58.37864px 0.13096px,
    60px 1.6566079009641e-31px,
    calc(100% - 60px) 0px,
    calc(100% - 60px) 0px,
    calc(100% - 58.37864px) 0.13096px,
    calc(100% - 56.84032px) 0.51008px,
    calc(100% - 55.40568px) 1.11672px,
    calc(100% - 54.09536px) 1.93024px,
    calc(100% - 52.93px) 2.93px,
    calc(100% - 51.93024px) 4.09536px,
    calc(100% - 51.11672px) 5.40568px,
    calc(100% - 50.51008px) 6.84032px,
    calc(100% - 50.13096px) 8.37864px,
    calc(100% - 50px) 10px,
    calc(100% - 50px) 10px,
    calc(100% - 50px) 10px,
    calc(100% - 49.47643px) 16.48787px,
    calc(100% - 47.96064px) 22.64256px,
    calc(100% - 45.53501px) 28.38169px,
    calc(100% - 42.28192px) 33.62288px,
    calc(100% - 38.28375px) 38.28375px,
    calc(100% - 33.62288px) 42.28192px,
    calc(100% - 28.38169px) 45.53501px,
    calc(100% - 22.64256px) 47.96064px,
    calc(100% - 16.48787px) 49.47643px,
    calc(100% - 10px) 50px,
    calc(100% - 10px) 50px,
    calc(100% - 10px) 50px,
    calc(100% - 8.37864px) 50.13096px,
    calc(100% - 6.84032px) 50.51008px,
    calc(100% - 5.40568px) 51.11672px,
    calc(100% - 4.0953599999999px) 51.93024px,
    calc(100% - 2.93px) 52.93px,
    calc(100% - 1.9302399999999px) 54.09536px,
    calc(100% - 1.11672px) 55.40568px,
    calc(100% - 0.51008000000002px) 56.84032px,
    calc(100% - 0.13095999999996px) 58.37864px,
    calc(100% - 5.6843418860808e-14px) 60px
  );
  /*clip-path: polygon(58px calc(100% - 0px), 58px calc(100% - 0px), 56.70437px calc(100% - 0.10492999999991px), 55.47456px calc(100% - 0.40863999999988px), 54.32719px calc(100% - 0.89450999999997px), 53.27888px calc(100% - 1.54592px), 52.34625px calc(100% - 2.34625px), 51.54592px calc(100% - 3.27888px), 50.89451px calc(100% - 4.32719px), 50.40864px calc(100% - 5.47456px), 50.10493px calc(100% - 6.70437px), 50px calc(100% - 8.0000000000001px), 50px calc(100% - 8px), 49.44932px calc(100% - 14.80388px), 47.85536px calc(100% - 21.26144px), 45.30524px calc(100% - 27.28556px), 41.88608px calc(100% - 32.78912px), 37.685px calc(100% - 37.685px), 32.78912px calc(100% - 41.88608px), 27.28556px calc(100% - 45.30524px), 21.26144px calc(100% - 47.85536px), 14.80388px calc(100% - 49.44932px), 8px calc(100% - 50px), 8px calc(100% - 50px), 6.70437px calc(100% - 50.10493px), 5.47456px calc(100% - 50.40864px), 4.32719px calc(100% - 50.89451px), 3.27888px calc(100% - 51.54592px), 2.34625px calc(100% - 52.34625px), 1.54592px calc(100% - 53.27888px), 0.89451px calc(100% - 54.32719px), 0.40864px calc(100% - 55.47456px), 0.10493px calc(100% - 56.70437px), 1.3275049920672E-31px calc(100% - 58px), 0px 58px, 0px 58px, 0.10493px 56.70437px, 0.40864px 55.47456px, 0.89451px 54.32719px, 1.54592px 53.27888px, 2.34625px 52.34625px, 3.27888px 51.54592px, 4.32719px 50.89451px, 5.47456px 50.40864px, 6.70437px 50.10493px, 8px 50px, 8px 50px, 14.80388px 49.44932px, 21.26144px 47.85536px, 27.28556px 45.30524px, 32.78912px 41.88608px, 37.685px 37.685px, 41.88608px 32.78912px, 45.30524px 27.28556px, 47.85536px 21.26144px, 49.44932px 14.80388px, 50px 8px, 50px 8px, 50.10493px 6.70437px, 50.40864px 5.47456px, 50.89451px 4.32719px, 51.54592px 3.27888px, 52.34625px 2.34625px, 53.27888px 1.54592px, 54.32719px 0.89451px, 55.47456px 0.40864px, 56.70437px 0.10493px, 58px 1.3275049920672E-31px, calc(100% - 58px) 0px, calc(100% - 58px) 0px, calc(100% - 56.70437px) 0.10493px, calc(100% - 55.47456px) 0.40864px, calc(100% - 54.32719px) 0.89451px, calc(100% - 53.27888px) 1.54592px, calc(100% - 52.34625px) 2.34625px, calc(100% - 51.54592px) 3.27888px, calc(100% - 50.89451px) 4.32719px, calc(100% - 50.40864px) 5.47456px, calc(100% - 50.10493px) 6.70437px, calc(100% - 50px) 8px, calc(100% - 50px) 8px, calc(100% - 49.44932px) 14.80388px, calc(100% - 47.85536px) 21.26144px, calc(100% - 45.30524px) 27.28556px, calc(100% - 41.88608px) 32.78912px, calc(100% - 37.685px) 37.685px, calc(100% - 32.78912px) 41.88608px, calc(100% - 27.28556px) 45.30524px, calc(100% - 21.26144px) 47.85536px, calc(100% - 14.80388px) 49.44932px, calc(100% - 8.0000000000001px) 50px, calc(100% - 8px) 50px, calc(100% - 6.7043699999999px) 50.10493px, calc(100% - 5.4745599999999px) 50.40864px, calc(100% - 4.32719px) 50.89451px, calc(100% - 3.27888px) 51.54592px, calc(100% - 2.34625px) 52.34625px, calc(100% - 1.54592px) 53.27888px, calc(100% - 0.89450999999997px) 54.32719px, calc(100% - 0.40863999999999px) 55.47456px, calc(100% - 0.10493000000002px) 56.70437px, calc(100% - 5.6843418860808E-14px) 58px, calc(100% - 0px) calc(100% - 58px), calc(100% - 0px) calc(100% - 58px), calc(100% - 0.10492999999991px) calc(100% - 56.70437px), calc(100% - 0.40863999999988px) calc(100% - 55.47456px), calc(100% - 0.89450999999997px) calc(100% - 54.32719px), calc(100% - 1.54592px) calc(100% - 53.27888px), calc(100% - 2.34625px) calc(100% - 52.34625px), calc(100% - 3.27888px) calc(100% - 51.54592px), calc(100% - 4.32719px) calc(100% - 50.89451px), calc(100% - 5.47456px) calc(100% - 50.40864px), calc(100% - 6.70437px) calc(100% - 50.10493px), calc(100% - 8.0000000000001px) calc(100% - 50px), calc(100% - 8px) calc(100% - 50px), calc(100% - 14.80388px) calc(100% - 49.44932px), calc(100% - 21.26144px) calc(100% - 47.85536px), calc(100% - 27.28556px) calc(100% - 45.30524px), calc(100% - 32.78912px) calc(100% - 41.88608px), calc(100% - 37.685px) calc(100% - 37.685px), calc(100% - 41.88608px) calc(100% - 32.78912px), calc(100% - 45.30524px) calc(100% - 27.28556px), calc(100% - 47.85536px) calc(100% - 21.26144px), calc(100% - 49.44932px) calc(100% - 14.80388px), calc(100% - 50px) calc(100% - 8.0000000000001px), calc(100% - 50px) calc(100% - 8px), calc(100% - 50.10493px) calc(100% - 6.7043699999999px), calc(100% - 50.40864px) calc(100% - 5.4745599999999px), calc(100% - 50.89451px) calc(100% - 4.32719px), calc(100% - 51.54592px) calc(100% - 3.27888px), calc(100% - 52.34625px) calc(100% - 2.34625px), calc(100% - 53.27888px) calc(100% - 1.54592px), calc(100% - 54.32719px) calc(100% - 0.89450999999997px), calc(100% - 55.47456px) calc(100% - 0.40863999999999px), calc(100% - 56.70437px) calc(100% - 0.10493000000002px), calc(100% - 58px) calc(100% - 5.6843418860808E-14px), 58px calc(100% - 0px)); */
  padding: 5rem 0rem;
}
.deco-container1::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--yellow-note);
  clip-path: polygon(
    calc(100% - 60px) 2px,
    calc(100% - 60px) 2px,
    calc(100% - 58.70437px) 2.10493px,
    calc(100% - 57.47456px) 2.40864px,
    calc(100% - 56.32719px) 2.89451px,
    calc(100% - 55.27888px) 3.54592px,
    calc(100% - 54.34625px) 4.34625px,
    calc(100% - 53.54592px) 5.27888px,
    calc(100% - 52.89451px) 6.32719px,
    calc(100% - 52.40864px) 7.47456px,
    calc(100% - 52.10493px) 8.70437px,
    calc(100% - 52px) 10px,
    calc(100% - 52px) 10px,
    calc(100% - 51.44932px) 16.80388px,
    calc(100% - 49.85536px) 23.26144px,
    calc(100% - 47.30524px) 29.28556px,
    calc(100% - 43.88608px) 34.78912px,
    calc(100% - 39.685px) 39.685px,
    calc(100% - 34.78912px) 43.88608px,
    calc(100% - 29.28556px) 47.30524px,
    calc(100% - 23.26144px) 49.85536px,
    calc(100% - 16.80388px) 51.44932px,
    calc(100% - 10px) 52px,
    calc(100% - 10px) 52px,
    calc(100% - 8.7043699999999px) 52.10493px,
    calc(100% - 7.4745599999999px) 52.40864px,
    calc(100% - 6.32719px) 52.89451px,
    calc(100% - 5.2788799999999px) 53.54592px,
    calc(100% - 4.34625px) 54.34625px,
    calc(100% - 3.54592px) 55.27888px,
    calc(100% - 2.89451px) 56.32719px,
    calc(100% - 2.40864px) 57.47456px,
    calc(100% - 2.10493px) 58.70437px,
    calc(100% - 2.0000000000001px) 60px,
    calc(100% - 2px) calc(100% - 60px),
    calc(100% - 2px) calc(100% - 60px),
    calc(100% - 2.10493px) calc(100% - 58.70437px),
    calc(100% - 2.4086399999999px) calc(100% - 57.47456px),
    calc(100% - 2.8945099999999px) calc(100% - 56.32719px),
    calc(100% - 3.54592px) calc(100% - 55.27888px),
    calc(100% - 4.34625px) calc(100% - 54.34625px),
    calc(100% - 5.27888px) calc(100% - 53.54592px),
    calc(100% - 6.32719px) calc(100% - 52.89451px),
    calc(100% - 7.47456px) calc(100% - 52.40864px),
    calc(100% - 8.7043699999999px) calc(100% - 52.10493px),
    calc(100% - 10px) calc(100% - 52px),
    calc(100% - 10px) calc(100% - 52px),
    calc(100% - 16.80388px) calc(100% - 51.44932px),
    calc(100% - 23.26144px) calc(100% - 49.85536px),
    calc(100% - 29.28556px) calc(100% - 47.30524px),
    calc(100% - 34.78912px) calc(100% - 43.88608px),
    calc(100% - 39.685px) calc(100% - 39.685px),
    calc(100% - 43.88608px) calc(100% - 34.78912px),
    calc(100% - 47.30524px) calc(100% - 29.28556px),
    calc(100% - 49.85536px) calc(100% - 23.26144px),
    calc(100% - 51.44932px) calc(100% - 16.80388px),
    calc(100% - 52px) calc(100% - 10px),
    calc(100% - 52px) calc(100% - 10px),
    calc(100% - 52.10493px) calc(100% - 8.7043699999999px),
    calc(100% - 52.40864px) calc(100% - 7.4745599999999px),
    calc(100% - 52.89451px) calc(100% - 6.32719px),
    calc(100% - 53.54592px) calc(100% - 5.2788799999999px),
    calc(100% - 54.34625px) calc(100% - 4.34625px),
    calc(100% - 55.27888px) calc(100% - 3.54592px),
    calc(100% - 56.32719px) calc(100% - 2.89451px),
    calc(100% - 57.47456px) calc(100% - 2.40864px),
    calc(100% - 58.70437px) calc(100% - 2.10493px),
    calc(100% - 60px) calc(100% - 2.0000000000001px),
    60px calc(100% - 2px),
    60px calc(100% - 2px),
    58.70437px calc(100% - 2.10493px),
    57.47456px calc(100% - 2.4086399999999px),
    56.32719px calc(100% - 2.8945099999999px),
    55.27888px calc(100% - 3.54592px),
    54.34625px calc(100% - 4.34625px),
    53.54592px calc(100% - 5.27888px),
    52.89451px calc(100% - 6.32719px),
    52.40864px calc(100% - 7.47456px),
    52.10493px calc(100% - 8.7043699999999px),
    52px calc(100% - 10px),
    52px calc(100% - 10px),
    51.44932px calc(100% - 16.80388px),
    49.85536px calc(100% - 23.26144px),
    47.30524px calc(100% - 29.28556px),
    43.88608px calc(100% - 34.78912px),
    39.685px calc(100% - 39.685px),
    34.78912px calc(100% - 43.88608px),
    29.28556px calc(100% - 47.30524px),
    23.26144px calc(100% - 49.85536px),
    16.80388px calc(100% - 51.44932px),
    10px calc(100% - 52px),
    10px calc(100% - 52px),
    8.70437px calc(100% - 52.10493px),
    7.47456px calc(100% - 52.40864px),
    6.32719px calc(100% - 52.89451px),
    5.27888px calc(100% - 53.54592px),
    4.34625px calc(100% - 54.34625px),
    3.54592px calc(100% - 55.27888px),
    2.89451px calc(100% - 56.32719px),
    2.40864px calc(100% - 57.47456px),
    2.10493px calc(100% - 58.70437px),
    2px calc(100% - 60px),
    2px 60px,
    2px 60px,
    2.10493px 58.70437px,
    2.40864px 57.47456px,
    2.89451px 56.32719px,
    3.54592px 55.27888px,
    4.34625px 54.34625px,
    5.27888px 53.54592px,
    6.32719px 52.89451px,
    7.47456px 52.40864px,
    8.70437px 52.10493px,
    10px 52px,
    10px 52px,
    16.80388px 51.44932px,
    23.26144px 49.85536px,
    29.28556px 47.30524px,
    34.78912px 43.88608px,
    39.685px 39.685px,
    43.88608px 34.78912px,
    47.30524px 29.28556px,
    49.85536px 23.26144px,
    51.44932px 16.80388px,
    52px 10px,
    52px 10px,
    52.10493px 8.70437px,
    52.40864px 7.47456px,
    52.89451px 6.32719px,
    53.54592px 5.27888px,
    54.34625px 4.34625px,
    55.27888px 3.54592px,
    56.32719px 2.89451px,
    57.47456px 2.40864px,
    58.70437px 2.10493px,
    60px 2px,
    calc(100% - 60px) 2px,
    calc(100% - 60px) 0px,
    60px 0px,
    60px 0px,
    58.37864px 0.13096px,
    56.84032px 0.51008px,
    55.40568px 1.11672px,
    54.09536px 1.93024px,
    52.93px 2.93px,
    51.93024px 4.09536px,
    51.11672px 5.40568px,
    50.51008px 6.84032px,
    50.13096px 8.37864px,
    50px 10px,
    50px 10px,
    49.47643px 16.48787px,
    47.96064px 22.64256px,
    45.53501px 28.38169px,
    42.28192px 33.62288px,
    38.28375px 38.28375px,
    33.62288px 42.28192px,
    28.38169px 45.53501px,
    22.64256px 47.96064px,
    16.48787px 49.47643px,
    10px 50px,
    10px 50px,
    10px 50px,
    8.37864px 50.13096px,
    6.84032px 50.51008px,
    5.40568px 51.11672px,
    4.09536px 51.93024px,
    2.93px 52.93px,
    1.93024px 54.09536px,
    1.11672px 55.40568px,
    0.51008px 56.84032px,
    0.13096px 58.37864px,
    1.6566079009641e-31px 60px,
    0px calc(100% - 60px),
    0px calc(100% - 60px),
    0.13096px calc(100% - 58.37864px),
    0.51008px calc(100% - 56.84032px),
    1.11672px calc(100% - 55.40568px),
    1.93024px calc(100% - 54.09536px),
    2.93px calc(100% - 52.93px),
    4.09536px calc(100% - 51.93024px),
    5.40568px calc(100% - 51.11672px),
    6.84032px calc(100% - 50.51008px),
    8.37864px calc(100% - 50.13096px),
    10px calc(100% - 50px),
    10px calc(100% - 50px),
    10px calc(100% - 50px),
    16.48787px calc(100% - 49.47643px),
    22.64256px calc(100% - 47.96064px),
    28.38169px calc(100% - 45.53501px),
    33.62288px calc(100% - 42.28192px),
    38.28375px calc(100% - 38.28375px),
    42.28192px calc(100% - 33.62288px),
    45.53501px calc(100% - 28.38169px),
    47.96064px calc(100% - 22.64256px),
    49.47643px calc(100% - 16.48787px),
    50px calc(100% - 10px),
    50px calc(100% - 10px),
    50.13096px calc(100% - 8.37864px),
    50.51008px calc(100% - 6.84032px),
    51.11672px calc(100% - 5.40568px),
    51.93024px calc(100% - 4.0953599999999px),
    52.93px calc(100% - 2.93px),
    54.09536px calc(100% - 1.9302399999999px),
    55.40568px calc(100% - 1.11672px),
    56.84032px calc(100% - 0.51008000000002px),
    58.37864px calc(100% - 0.13095999999996px),
    60px calc(100% - 5.6843418860808e-14px),
    calc(100% - 60px) calc(100% - 0px),
    calc(100% - 60px) calc(100% - 0px),
    calc(100% - 58.37864px) calc(100% - 0.1309599999999px),
    calc(100% - 56.84032px) calc(100% - 0.51007999999996px),
    calc(100% - 55.40568px) calc(100% - 1.1167199999999px),
    calc(100% - 54.09536px) calc(100% - 1.9302399999999px),
    calc(100% - 52.93px) calc(100% - 2.93px),
    calc(100% - 51.93024px) calc(100% - 4.09536px),
    calc(100% - 51.11672px) calc(100% - 5.40568px),
    calc(100% - 50.51008px) calc(100% - 6.84032px),
    calc(100% - 50.13096px) calc(100% - 8.37864px),
    calc(100% - 50px) calc(100% - 10px),
    calc(100% - 50px) calc(100% - 10px),
    calc(100% - 49.47643px) calc(100% - 16.48787px),
    calc(100% - 47.96064px) calc(100% - 22.64256px),
    calc(100% - 45.53501px) calc(100% - 28.38169px),
    calc(100% - 42.28192px) calc(100% - 33.62288px),
    calc(100% - 38.28375px) calc(100% - 38.28375px),
    calc(100% - 33.62288px) calc(100% - 42.28192px),
    calc(100% - 28.38169px) calc(100% - 45.53501px),
    calc(100% - 22.64256px) calc(100% - 47.96064px),
    calc(100% - 16.48787px) calc(100% - 49.47643px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 10px) calc(100% - 50px),
    calc(100% - 8.37864px) calc(100% - 50.13096px),
    calc(100% - 6.84032px) calc(100% - 50.51008px),
    calc(100% - 5.40568px) calc(100% - 51.11672px),
    calc(100% - 4.0953599999999px) calc(100% - 51.93024px),
    calc(100% - 2.93px) calc(100% - 52.93px),
    calc(100% - 1.9302399999999px) calc(100% - 54.09536px),
    calc(100% - 1.11672px) calc(100% - 55.40568px),
    calc(100% - 0.51008000000002px) calc(100% - 56.84032px),
    calc(100% - 0.13095999999996px) calc(100% - 58.37864px),
    calc(100% - 5.6843418860808e-14px) calc(100% - 60px),
    calc(100% - 0px) 60px,
    calc(100% - 0px) 60px,
    calc(100% - 0.1309599999999px) 58.37864px,
    calc(100% - 0.51007999999996px) 56.84032px,
    calc(100% - 1.1167199999999px) 55.40568px,
    calc(100% - 1.9302399999999px) 54.09536px,
    calc(100% - 2.93px) 52.93px,
    calc(100% - 4.09536px) 51.93024px,
    calc(100% - 5.40568px) 51.11672px,
    calc(100% - 6.84032px) 50.51008px,
    calc(100% - 8.37864px) 50.13096px,
    calc(100% - 10px) 50px,
    calc(100% - 10px) 50px,
    calc(100% - 10px) 50px,
    calc(100% - 16.48787px) 49.47643px,
    calc(100% - 22.64256px) 47.96064px,
    calc(100% - 28.38169px) 45.53501px,
    calc(100% - 33.62288px) 42.28192px,
    calc(100% - 38.28375px) 38.28375px,
    calc(100% - 42.28192px) 33.62288px,
    calc(100% - 45.53501px) 28.38169px,
    calc(100% - 47.96064px) 22.64256px,
    calc(100% - 49.47643px) 16.48787px,
    calc(100% - 50px) 10px,
    calc(100% - 50px) 10px,
    calc(100% - 50.13096px) 8.37864px,
    calc(100% - 50.51008px) 6.84032px,
    calc(100% - 51.11672px) 5.40568px,
    calc(100% - 51.93024px) 4.09536px,
    calc(100% - 52.93px) 2.93px,
    calc(100% - 54.09536px) 1.93024px,
    calc(100% - 55.40568px) 1.11672px,
    calc(100% - 56.84032px) 0.51008px,
    calc(100% - 58.37864px) 0.13096px,
    calc(100% - 60px) 1.6566079009641e-31px,
    calc(100% - 60px) 0px
  );
  z-index: -4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.deco-corner-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100dh;
}

.deco-corner {
  content: url("./assets/svg/corner-star.svg");
  width: 50px;
  height: auto;
}

/* Lineas horizontales */

.top-line::before {
  content: "";
  display: flex;
  position: relative;
  width: 90%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  background-color: var(--yellow-note);
  z-index: 1;
}

.bot-line::after {
  content: "";
  display: flex;
  position: relative;
  width: 90%;
  height: 1px;
  margin: 0.5rem auto -0.5rem auto;
  background-color: var(--yellow-note);
  z-index: 1;
}

.bot-line-sec {
  width: min-content;
}

.bot-line-sec::after {
  content: "";
  display: flex;
  position: relative;
  width: auto;
  height: 1px;
  margin: 0.25rem auto 0.5rem auto;
  background-color: var(--secondary-color);
  z-index: 1;
}

.divider-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-self: stretch;
}

.divider-text::before,
.divider-text::after {
  content: "";
  display: inline-block;
  position: relative;
  background-color: var(--light-color);
  height: 1px;
  width: 50%;
}

.divider-text-start {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-self: stretch;
}

.divider-text-start::before {
  content: "";
  display: inline-block;
  position: relative;
  background-color: var(--light-color);
  height: 1px;
  width: 3rem;
}

/* Lineas verticales */

.divider-y {
  padding: 0;
  margin: 0;
  width: 1px;
  height: auto;
  background-color: var(--secondary-color);
}

/* Transformadores */

.hflip {
  transform: scaleX(-1); /* Flip horizontal */
}
.vflip {
  transform: scaleY(-1); /* Flip vert */
}

.vhflip {
  transform: scaleX(-1) scaleY(-1); /* Flip verthor */
}

.social-icon {
  min-width: 32px;
  min-height: 32px;
  max-width: 44px;
  max-height: 44px;
}

/* Meses suscrito */

.card-precio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.container-plantime {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plan-time-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 6px 0;
  border: solid var(--yellow-note);
  border-width: 2px 0 2px 0;
}

.container-plantime::before,
.container-plantime::after {
  content: url(./assets/svg/deco-btngroup.svg);
  display: block;
  align-items: end;
  margin: 0px;

  /*Size*/
  aspect-ratio: 3.83488/4.1875;
  width: auto;
  height: 74px;
  flex-shrink: 0;
  align-self: stretch;
}

.container-plantime::after {
  transform: scaleX(-1); /* Flip horizontal */
}

/** ============================== */
/* ! 3D MODEL */
/** ============================== */

model-viewer {
  min-width: 100%;
  min-height: calc(200px * 100dvh);
  place-self: center;
  margin-top: 1em;
  margin-bottom: -0.25rem !important;
  z-index: 0;
}

model-viewer.pagdet {
  min-width: 100%;
  min-height: calc(200px * 100dvh);
  width: 100%;
  height: 80vh;
  place-self: center;
  margin-top: 1em;
  margin-bottom: -0.25rem !important;
  z-index: 0;
  overflow: visible;
}

/** ============================== */
/* ! CUSTOM HELPER CLASSES */
/** ============================== */

/* TITULOS */
.h1-custom {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--light-color);
}

.h2-custom {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--yellow-note);
}

.h3-custom {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--yellow-note);
}

.h4-custom {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light-color);
}

.h5-custom {
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--light-color);
}

.text-uppercase {
  text-transform: uppercase !important;
}

.green-book {
  color: var(--book-green) !important;
}

.red-book {
  color: var(--book-red) !important;
}

.blue-book {
  color: var(--book-blue) !important;
}

/* PÁRRAFOS Y TEXTOS */
.p-custom {
  font-size: 1rem;
  color: var(--light-color);
  line-height: 1.6;
}

.lead-custom {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--light-color);
}

.p-sec {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--secondary-color);
}

/* TEXTOS ADICIONALES */
.text-uppercase-custom {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-bold {
  font-weight: 700;
}

.text-muted-custom {
  color: #6c757d;
}

.text-primary {
  color: var(--primary-color);
}

.display-6.text-primary {
  color: var(--yellow-note);
}

.plan-name {
  font-size: calc(1rem + 0.75vw);
  font-weight: 700;
}

.plan-precio {
  font-size: calc(1rem + 0.75vw);
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--yellow-note) !important;
}

.plan-precio::after {
  content: "/mes";
  color: var(--light-color);
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: calc(0.25rem + 0.75vw);
  font-feature-settings: "smcp" on;
  text-transform: uppercase;
  vertical-align: super;
  font-style: normal;
}

.pagdet.plan-precio {
  font-size: calc(1.75rem + 0.75vw);
}

.pagdet.plan-precio::after {
  font-size: calc(0.75rem + 0.75vw);
  margin-left: 0.2rem;
}

.list-unstyled {
  color: var(--light-color);
}

.list-unstyled > .disabled {
  color: var(--secondary-color);
}

.list-unstyled > .highlight {
  color: var(--yellow-note);
}

.recomendado {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: -1.5rem -1.5rem 0 -1.5rem !important;
  z-index: -2;
}

.accent-txt {
  color: var(--primary-color) !important;
}

.highlight-txt {
  color: var(--yellow-note) !important;
}

.sec-color {
  color: var(--secondary-color) !important;
}

/* ESPACIADOS */
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-spacing-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

/** ============================== */
/* ! FAQ */
/** ============================== */

.accordion-item {
  color: var(--light-color);
  background-color: transparent;
  border: none;
}

.accordion-header {
  font-family: var(--font-family-base);
  margin-bottom: 0;
  border: none;
}

.accordion-body {
  background-color: var(--secondary-color50);
  border: none;
  border-radius: 0 0 1rem 1rem;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: var(--light-color);
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 1rem 1rem 0 0;
  overflow-anchor: none;
}
.accordion-button:not(.collapsed) {
  color: var(--light-color);
  background-color: var(--secondary-color50);
  box-shadow: none;
  font-weight: 600;
}

.accordion-button.collapsed {
  background-color: var(--secondary-dark-color);
  border: none;
  font-weight: 600;
}

.accordion-button::after {
  filter: brightness(0) invert(1); /* flecha blanca */
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

/** ============================== */
/* ! MEDIA QUERIES */
/** ============================== */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-brand {
    font-family: var(--font-family-buttons);
    font-weight: 700;
    font-variation-settings: "wdth" 112.5;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .masonry__container {
    column-count: 3;
  }

  .bg-hero {
    background-size: 1800px auto;
    background-position: 20% -0%;
  }
}

@media screen and (max-width: 768px) {
  .masonry__container {
    column-count: 2;
  }

  .bg-hero {
    background-size: 2500px auto;
    background-position: 70% -0%;
  }
}

@media screen and (max-width: 576px) {
  .masonry__container {
    column-count: 1;
  }
}
